#root {
  height: auto;
  width: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #d9d9d9;
  color: #000000;
}

.nav {
  width: 100vw;
  height: 5vw;
  border-bottom: 1px solid #000000;
}

.main-body {
  height: 95vh;
  display: flex;
}

.left-section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 30vw;
  border-right: 1px solid #000000;
  gap: 10px;
  padding: 10px 10px 0 10px;
}

.left-section-selector{
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #000000;
}

.left-section-checklist-container{
  background-color: #FFF;
  height: calc(100vh - 90px);
}


.right-section {
  width: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
